.top-spacer {
  margin-top: 10px;
}

.right-spacer {
  margin-right: 10px;
}

.left-spacer {
  margin-left: 10px;
}

.sidebar-link {
  display:block;
  margin-bottom: 5px;
  color: black;
  text-decoration: underline black;
}
